{% extends "base.html" %}
{% block content %}

<div class="section">
  <div class="container-2 w-container">
    <h1 class="heading-10">{{ user.get_username }}'s Profile </h1>
  </div>
</div>
<div class="section-2">
  <div class="w-container">
    <div class="columns-2 w-row">
      <div class="w-col w-col-6">
        <h4 class="heading-12">{{ user.get_username }}</h4>
        <h5 class="heading-13">Profile Info Here</h5>
      </div>
    </div>
    <div class="column-4 w-col w-col-6">
      <div class="div-block-2">
        <h1 class="heading-11">User Interests</h1>
        <div data-delay="0" class="w-dropdown">
          <form type="get" action=".">
            <select name="new_interest" class="dropdown-toggle-3 w-dropdown-toggle" onchange="this.form.submit()">
              <option value="" disabled selected>Choose an Interest</option>
              {% if interest_list %}
              {% for type in interest_list %}
              <option value={{type.activity_type}}>{{type.activity_type}}</option>
              {% endfor %}
              {% endif %}
            </select>
          </form>
          {% if user_interest_list %}
          {% for int in user_interest_list %}
          <form method="get" action=".">
            <button onclick="this.form.submit()">X</button>
            <a value={{int.activity_type}}>{{int.activity_type}}</a>
            <input name="old_interest" type="hidden" value="{{int.activity_type}}">
          </form>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div>
  <div id="posts" class="main-section bottom-padding">
    <div id="Latest-post" class="w-container">
      <div>
        <h2 class="section-title">Saved Activities</h2>
        <div class="med-divider"></div>
      </div>
      {% for activity in saved_activity_list %}
      <div class="columns w-row">
        <div class="column w-col w-col-4">
          <div class="activity-border">
            <h1 class="activity-header">{{activity.0.name}}</h1>
            <div class="activity-text-layout">{{activity.0.address_1}}<br>{{activity.0.phone_number}}</div>
            {% if user.is_authenticated %}
            <div class="{{activity.0.ID}}">
              <a class="removeLike" href="#" data-catid="{{ activity.0.ID }}"><span class="glyphicon glyphicon-star"
                  style="position: absolute; right: 0; bottom: 0; font-size: 20px; color: black;"></a>
            </div>
            {% endif %}
          </div>
        </div>
        {% if activity.1 %}
        <div class="column-2 w-col w-col-4">
          <div class="activity-border">
            <h1 class="activity-header">{{activity.1.name}}</h1>
            <div class="activity-text-layout">{{activity.1.address_1}}<br>{{activity.1.phone_number}}</div>
            {% if user.is_authenticated %}
            <div class="{{activity.1.ID}}">
              <a class="removeLike" href="#" data-catid="{{ activity.1.ID }}"><span class="glyphicon glyphicon-star"
                  style="position: absolute; right: 0; bottom: 0; font-size: 20px; color: black;"></a>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if activity.2 %}
        <div class="column-3 w-col w-col-4">
          <div class="activity-border">
            <h1 class="activity-header">{{activity.2.name}}</h1>
            <div class="activity-text-layout">{{activity.2.address_1}}<br>{{activity.2.phone_number}}</div>
            {% if user.is_authenticated %}
            <div class="{{activity.2.ID}}">
              <a class="removeLike" href="#" data-catid="{{ activity.2.ID }}"><span class="glyphicon glyphicon-star"
                  style="position: absolute; right: 0; bottom: 0; font-size: 20px; color: black;"></a>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}


    </div>
  </div>
</div>
</div>

<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
{% endblock %}
