<div class="p-2">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
            <a class="removelike mark_{{ activity.ID }}" href="#" data-catid="{{ activity.ID }}" style="float: right;" onclick="return false"><i
                    class="fas fa-bookmark"></i></a>
            <h5 class="card-title">{{activity.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ activity.address_1 }}</h6>
            <p class="card-text">{{ activity.phone_number }}</p>

        </div>
    </div>
</div>