<div class="mb-3 ml-2 mr-2">
    <div class="card" style="width: 18rem;">
        {% if activity.pic_url %}
        <img class="card-img-top" src="{{ activty.pic_url }}" alt="Activity Pic">
        {% else %}
        <img class="card-img-top" src="../../static/images/default.png" alt="Default Activity Pic">
        {% endif %}
        <div class="card-body">
            {% if user.is_authenticated %}
            {% if activity in saved_list %}
            <a class="likebutton mark_{{ activity.ID }}" href="#" data-catid="{{ activity.ID }}" style="float: right;"
                onclick="return false"><i class="fas fa-bookmark"></i></a>
            {% else %}
            <a class="likebutton mark_{{ activity.ID }}" href="#" data-catid="{{ activity.ID }}" style="float: right;"
                onclick="return false"><i class="far fa-bookmark"></i></a>
            {% endif %}
            {% endif %}
            <h5 class="card-title">{{activity.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ activity.address_1 }}</h6>
            <p class="card-text">{{ activity.phone_number }}</p>
        </div>
    </div>
</div>