<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {% block title %}<title>Docent</title>{% endblock %}
  {% load static %}
  <!--favicon-->
  <link rel="shortcut icon" href="{%  static 'images/favicon.png' %}">

  <!--Bootstrap-->
  <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!--Glyphicicns-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

  <!--Custom-->
  <link rel="stylesheet" href="{% static 'css/bs.css' %}" type="text/css">

</head>

<body>
  {% block header%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">

    <a class="navbar-brand" href="{% url 'index' %}">Docent</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarToggler">

      <form class="form-inline ml-auto mr-auto" type="get" action="." id="search">
        <input class="form-control mr-sm-2" type="search" name="search_box" placeholder="Search" aria-label="Search">
        <a id="search_submit" href="#" onclick="document.getElementById('search').submit();"><i class="fa fa-search"></i></a>
      </form>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item pl-2">
          <a class="nav-link" href="{% url 'logout' %}">Logoff</a>
        </li>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right animated flipInX">
              <div class="col-lg-12">
                <h3><b>Register</b></h3>
                <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-align: center;">
                  <i class="fab fa-google"></i> Sign Up with Google</a>
                <br />
                <br />


                <form name="signup" method="post" action=".">
                  {% csrf_token %}
                  {% for field in form.visible_fields %}
                  <div class="form-group">
                      <label>{{ field.label_tag }}</label>
                    {{field}}
                  </div>
                  {% endfor %}
                  <input type="submit" value="Register" class="form-control btn btn-info" />
                </form>

              </div>
            </ul>
          </li>
          <li class="dropdown pl-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right animated slideInRight" role="menu">
              <div class="col-lg-12">
                <div class="text-center">
                  <h3><b>Log In</b></h3>
                </div>
                <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <i class="fab fa-google"></i> Login with Google</a>
                  <br>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username"
                      value="" autocomplete="off">
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"
                      autocomplete="off">
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-5 ml-auto mr-auto">
                        <input type="submit" value="Login" class="form-control btn btn-info" />
                        <input type="hidden" name="next" value="{{ next }}" />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="{% url 'password_reset' %}">Lost password?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </ul>
          </li>
        </ul>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}
  {% block content %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>

</html>