{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="jumbo-text" style="color: white; text-align: center">
        <h1 class="display-4">{{ type }}</h1>
    </div>
</div>
<nav class="nav nav-pills nav-fill">
    <a id="enterntainment" class="nav-item nav-link category" href="{% url 'category'%}?type=entertainment">Entertainment</a>
    <a id="music" class="nav-item nav-link category" href="{% url 'category'%}?type=music">Music</a>
    <a id="food" class="nav-item nav-link category" href="{% url 'category'%}?type=food">Food and Drink</a>
    <a id="sports" class="nav-item nav-link category" href="{% url 'category'%}?type=sports">Sports</a>
    <a id="other" class="nav-item nav-link category" href="{% url 'category'%}?type=other">Other</a>
</nav>
<br />

<div class="container">
    <div class="grid-row">
        {% for activity in activity_list %}
        {% include "activity.html" with activity=activity %}
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        {% if activity_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ activity_list.previous_page_number }}">{{ activity_list.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">{{ activity_list.number }}</a></li>
        {% if activity_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ activity_list.next_page_number }}">{{ activity_list.next_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ activity_list.paginator.num_pages }}">Last</a></li>
    </ul>
</nav>

{% endblock %}