{% extends "base.html" %}

<!--Include the search bar-->
{% block search %}
<form class="form-inline ml-auto mr-auto" type="get" action="." id="search">
    <input class="form-control mr-sm-2" type="search" name="search_box" placeholder="Search" aria-label="Search">
    <a id="search_submit" href="#" onclick="document.getElementById('search').submit();"><i class="fa fa-search"></i></a>
</form>
{% endblock %}

{% block content %}
<!--Jumbotron content-->
<div class="jumbotron" style="margin-bottom: 5px;">
    <div class="jumbo-text .animated .fadeUpBig" style="color: white; text-align: center">
        {% if search_query %}
            <h1 class="display-4">Results for "{{search_query}}"</h1>
            <p>Found {{result_num}} results</p>
        {% elif category %}
            <h1 class="display-4">{{ category|capfirst }}</h1>
        {% else %}
            <h1 class="display-4">Have Plans?</h1>
        <p>Don't worry, Docent does.</p>
        {% endif %}
    </div>
</div>
<!--Quick choose categories-->
<nav class="nav nav-pills nav-fill">
    <!--This is really really dirty, can probably refactor somehow-->
    {% if category == 'entertainment' %}
    <a id="enterntainment" class="nav-item nav-link category active border rounded" href="{% url 'index'%}?category=entertainment">Entertainment</a>
    {% else %}
    <a id="enterntainment" class="nav-item nav-link category border rounded" href="{% url 'index'%}?category=entertainment">Entertainment</a>
    {% endif %}
    {% if category == 'music' %}
    <a id="music" class="nav-item nav-link category active border rounded" href="{% url 'index'%}?category=music">Music</a>
    {% else %}
    <a id="music" class="nav-item nav-link category border rounded" href="{% url 'index'%}?category=music">Music</a>
    {% endif %}
    {% if category == 'food' %}
    <a id="food" class="nav-item nav-link category active border rounded" href="{% url 'index'%}?category=food">Food</a>
    {% else %}
    <a id="food" class="nav-item nav-link category border rounded" href="{% url 'index'%}?category=food">Food</a>
    {% endif %}
    {% if category == 'sports' %}
    <a id="sports" class="nav-item nav-link category active border rounded" href="{% url 'index'%}?category=sports">Sports</a>
    {% else %}
    <a id="sports" class="nav-item nav-link category border rounded" href="{% url 'index'%}?category=sports">Sports</a>
    {% endif %}
    {% if category == 'other' %}
    <a id="other" class="nav-item nav-link category active border rounded" href="{% url 'index'%}?category=other">Other</a>
    {% else %}
    <a id="other" class="nav-item nav-link category border rounded" href="{% url 'index'%}?category=other">Other</a>
    {% endif %}
</nav>
<br />
<!--Sort and Filter Buttons-->
<div class="container">
    <div class="panel profile-panel">      
        <div class="panel-body">
            <!--This is also pretty dirty-->
            <form class=" ml-2 form-inline" type="get" action=".">
                <label class="col-form-label" for="filter">Sort:</label>
                <select name="sort" class="ml-2 mr-5 mb-2 form-control cats" onchange="this.form.submit()">
                    {% if sort == 'az' %}
                    <option value="az" selected>A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="review">Avg Review</option>
                    <option value="shuffle">Shuffle</option>
                    <option value="">None</option>
                    {% elif sort == 'za' %}
                    <option value="az" >A-Z</option>
                    <option value="za" selected>Z-A</option>
                    <option value="review">Avg Review</option>
                    <option value="shuffle">Shuffle</option>
                    <option value="">None</option>
                    {% elif sort == 'shuffle' %}
                    <option value="az" >A-Z</option>
                    <option value="za" >Z-A</option>
                    <option value="review">Avg Review</option>
                    <option value="shuffle" selected>Shuffle</option>
                    <option value="">None</option>
                    {% elif sort == 'review' %}
                    <option value="az" >A-Z</option>
                    <option value="za" >Z-A</option>
                    <option value="review" selected>Avg Review</option>
                    <option value="shuffle">Shuffle</option>
                    <option value="">None</option>
                    {% else %}
                    <option value="" disabled selected>Sort...</option>
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="review">Avg Review</option>
                    <option value="shuffle">Shuffle</option>
                    {%  endif %}
                </select>
                <!--More dirty code, probably a better way-->
                <label class="col-form-label" for="filter">Filter:</label>
                <select name="filter" class="ml-2 mb-2 form-control cats" onchange="this.form.submit()">
                    {% if filter_act == 'yelp' %}
                    <option value="yelp" selected>Yelp</option>
                    <option value="ticketmaster">TicketMaster</option>
                    <option value="hikingproject">HikingProject</option>
                    <option value="">None</option>
                    {% elif filter_act == 'ticketmaster' %}
                    <option value="yelp">Yelp</option>
                    <option value="ticketmaster" selected>TicketMaster</option>
                    <option value="hikingproject">HikingProject</option>
                    <option value="">None</option>
                    {% elif filter_act == 'hikingproject' %}
                    <option value="yelp">Yelp</option>
                    <option value="ticketmaster" >TicketMaster</option>
                    <option value="hikingproject" selected>HikingProject</option>
                    <option value="">None</option>
                    {% else %}
                    <option value="" disabled selected>Filter...</option>
                    <option value="yelp">Yelp</option>
                    <option value="ticketmaster">TicketMaster</option>
                    <option value="hikingproject">HikingProject</option>
                    {% endif %}
                </select>
            </form>
            <br />
        </div>
    </div>
</div>

<!--Display activities in the grid-->
{% if activity_list %}
<div class="container">
    <div class="grid-row">
        <!--Recomended activites if nothing else is selected and user is logged in-->
        {% if recommend_list|length and not activity_list.has_previous and sort is None and filter_act is None and search_query is None and category is None %}
        <h2 class="container" style="text-align: center; padding-bottom: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif">Recommended for You</h1>
            {% for activity in recommend_list %}
            {% include "activity.html" with activity=activity index=1 %}
            {% endfor %}
        <h2 class="container" style="text-align: center; padding-bottom: 20px; padding-top: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif">Featured Activities</h1>
        {% endif %}
        <!--Regular activities, shown after recomended activites-->
        {% for activity in activity_list %}
        {% include "activity.html" with activity=activity index=1 %}
        {% endfor %}
    </div>
</div>

<!--Page navigation section-->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if sort != None or filter_act != None or category != None or search_box != None %}
        {% if activity_list.has_previous and activity_list.paginator.num_pages != 1 %}
        <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{activity_list.previous_page_number }}">{{ activity_list.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">{{ activity_list.number }}</a></li>
        {% if activity_list.has_next %}
        <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{activity_list.next_page_number }}">{{ activity_list.next_page_number }}</a></li>
        {% endif %}
        {% if activity_list.paginator.num_pages != 1 %}
        <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ activity_list.paginator.num_pages }}">Last</a></li>
        {% endif %}
        <!--If there are no previous args (THIS IS A HACK, I think)-->
        {% else %}
            {% if activity_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{activity_list.previous_page_number }}">{{ activity_list.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ activity_list.number }}</a></li>
            {% if activity_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{activity_list.next_page_number }}">{{ activity_list.next_page_number }}</a></li>
            {% endif %}
            {% if activity_list.paginator.num_pages != 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ activity_list.paginator.num_pages }}">Last</a></li>
            {% endif %}
        {% endif %}
    </ul>

</nav>

<!--If there are no activities to load-->
{% else %}
<div class="container">
    {% if search_query  %}
    <h2>Could not find results for "{{ search_query }}"</h2>
    {% else %}
    <h2>Could not find any activities</h2>
    {% endif %}
</div>
{% endif %}
{% endblock %}