{% extends "base_bs.html" %}
{% block content %}
<br />
<div class="cols">
    <div class="container mt-4">
        <div class="row">
            {% for activity in save_list %}
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{activity.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ activity.address_1 }}</h6>
                        <p class="card-text">{{ activity.phone_number }}</p>
                        {% if activity in saved_list %}
                        <a class="card-link likebutton" href="#" data-catid="{{ activity.ID }}"><i class="fa fa-star"></i></a>
                        {% else %}
                        <a class="card-link likebutton" href="#" data-catid="{{ activity.ID }}"><i class="fa fa-star-o"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}