{% extends "base.html" %}
{% block content %}

<div class="jumbotron" style="background-image: linear-gradient(135deg, rgba(30, 33, 33, .82) 1%, rgba(32, 32, 32, .14) 98%), url('../static/images/profile.jpeg');">
    <div class="jumbo-text .animated .fadeUpBig" style="color: white; text-align: center;">
        <h1 class="display-4" style="background-color: none;">{{ user.username }}'s profile</h1>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-danger ml-auto" href="#acct_confirm" data-toggle="modal">Delete Account</button>
    <div class="panel profile-panel">      
       <h3>Add Interests</h3>
       
        <div class="panel-body">
            <form type="get" action=".">
                <select name="new_interest" id="new_interest"  class="form-control cats addInt" >
                    <option value="" disabled selected>Choose an Interest</option>
                    {% if interest_list %}
                    {% for type in interest_list %}
                    <option value="{{type.activity_type}}" data-catid="{{type.activity_type}}">{{type.activity_type}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <div class="form-check mr-auto">
                    {% if recommended_acts == True %}
                    <input type="checkbox" class="form-check-input reco" id="exampleCheck1" checked value="{{recommended_acts}}">
                    {% else %}
                    <input type="checkbox" class="form-check-input reco" id="exampleCheck1" value="{{recommended_acts}}">
                    {% endif %}
                    <label class="form-check-label" for="exampleCheck1">Show Recommended Activities</label>
                </div>
            </form>
            <br />

            <div class="button-area" id="button-area">
                {% if user_interest_list %}
                {% for int in user_interest_list %}
                <button type="button" class="btn btn-primary mx-1 mb-2 removeInt" data-catid="{{int.activity_type}}">
                    <i class="far fa-trash-alt"></i> {{int.activity_type}}</button>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
    
</div>

<hr />
<h2 class="display-5 text-center">Saved Activities</h2>
<hr />

{% if activity_list %}
<div class="container">
    <div class="grid-row">
        {% for activity in activity_list %}
        {% include "activity.html" with activity=activity index=0 %}
        {% endfor %}
    </div>
</div>

{% else %}
<div class="container">
    <h3><em> Click the <i class="fas fa-bookmark" style="color:#007bff"></i> icon on any activity to save it here. </em></h3>
</div>
{% endif %}

<div class="modal" id="acct_confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Your account will be permanently deleted.</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'delete' %}"><button type="button" class="btn btn-danger">Delete Account</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}