  /* mobile fix */
  @media (max-width: 768px) {
      .dropdown-lr h3 {
          color: #eee;
      }
      .dropdown-lr label {
          color: #eee;
      }
}
.jumbotron {
    position: relative;
    height: 300px;
    padding-top: 100px;
    background-image: linear-gradient(135deg, rgba(30, 33, 33, .82) 1%, rgba(32, 32, 32, .14) 98%), url('../images/backlit-bonding-casual-708392.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    padding-bottom: 0px;
}
.dropdown-menu {
    width: 300px;
}
@keyframes jumbo-text-animate {
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}
.jumbo-text {
    animation-name: jumbo-text-animate;
    animation-duration: 1s;
}
.absolute-center {
    margin: auto;
    position: relative;
    left: 0; 
    right: 0;
  }
  