ul.dropdown-lr {
    width: 300px;
  }
  
  /* mobile fix */
  @media (max-width: 768px) {
      .dropdown-lr h3 {
          color: #eee;
      }
      .dropdown-lr label {
          color: #eee;
      }
}
.jumbotron {
    position: relative;
    height: 300px;
    padding-top: 100px;
    background-image: linear-gradient(135deg, rgba(30, 33, 33, .82) 1%, rgba(32, 32, 32, .14) 98%), url('../images/backlit-bonding-casual-708392.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    padding-bottom: 0px;
}
.dropdown-menu {
    width: 300px;
}